﻿<form method='post' action="http://xn--90ax2c.xn--p1ai/sso/auth/">
                               <input type='text' name='email' value='reader@elar.ru'></input>
                               <input type='text' name='password' value='111111'></input>
                               <input type='submit'></input>               
                </form>
